@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu+Condensed&display=swap');


:root {
    --color-mclaren: #FF8700;
    --color-mercedes: #00A19C;
    --color-redbull: #0600EF;
    --color-ferrari: #E8002D;
    --color-williams: #005AFF;
    --color-racingbulls: #6692FF;
    --color-astonmartin: #006F62;
    --color-haas: #B6BABD;
    --color-kicksauber: #52E252;
    --color-alpine: #0090FF;

    --primary-color: #E10600;
    --secondary-color: #E51073;
    --tertiary-color: #AFABB6; 
    --color-dark-bg: #15151E;
    --color-card-bg: #303037;
    --color-text-light: #FFFFFF;

    --font-family-body: 'Space Grotesk', sans-serif;
    --font-family-heading: 'Ubuntu Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    background-color: var(--color-dark-bg);
    color: var(--color-text-light);
    line-height: 1.4;
    padding-bottom: 3.125rem; 
}

.container {
    max-width: 75rem; 
    margin: 0 auto;
    padding: 0 1.25rem; 
}

/*  Cabeçalho  */

header {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    height: 12vh;
    position: sticky; 
    top: 0; 
    background: var(--color-dark-bg); 
    z-index: 100; 
    border-bottom: 1px solid var(--color-dark-bg); 
    gap: 1rem;
    margin: 1rem 0;
}

header img {
    height: 25vh; 
    width: auto; 
}

div input {
    padding: 0.375rem 0.75rem; 
    border-radius: 1rem;
    border: 1px solid var(--tertiary-color); 
    background: var(--color-card-bg); 
    font-family: inherit;
    font-size: 1.5rem; 
    transition: all 0.3s ease; 
    width: 30rem; 
    color: var(--color-text-light); 
    margin-right: .5rem; 
}

div input::placeholder {
    font-size: 1.2rem; 
    font-weight: 200; 
    color: var(--tertiary-color); 
}

div input:focus {
    outline: none; 
    border-color: var(--tertiary-color); 
    box-shadow: 0 0 0 0.1rem var(--tertiary-color); 
}

#botao-busca {
    padding: 1rem 2rem; 
    border-radius: 1rem; 
    border: none; 
    cursor: pointer; 
    font-family: inherit; 
    font-weight: 500; 
    font-size: 1rem; 
    white-space: nowrap; 
    transition: all 0.3s ease;
    background-color: var(--primary-color); 
    color: var(--color-text-light); 
    border: 1px solid var(--tertiary-color); 
}

#botao-busca:hover {
    background-color: var(--tertiary-color);
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

#botao-limpar {
    padding: 1rem 2rem; 
    border-radius: 1rem; 
    border: none; 
    cursor: pointer; 
    font-family: inherit; 
    font-weight: 500; 
    font-size: 1rem; 
    white-space: nowrap; 
    transition: all 0.3s ease;
    background-color: var(--secondary-color); 
    color: var(--color-text-light); 
    border: 1px solid var(--tertiary-color); 
}

#botao-limpar:hover {
    background-color: var(--tertiary-color);
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

#botao-limpar:active {
    transform: scale(0.98);
}

/*  Sessão Principal  */
.banner {
  position: relative;
  width: 100%;
  height: 90vh; 
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.container h1 {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center; 
    color: var(--primary-color);
    text-shadow: 4px 4px 6px rgb(14, 13, 13); 
    margin-top: 2.5rem;
}

.container p {
    font-size: 1.5rem;
    color: var(--color-text-light);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/*  Equipes  */
.teams-section {
    margin-top: 4rem;
    position: relative;
    z-index: 1;
}

   .teams-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 
}

.team-card {
    padding: 1rem;
    border-radius: 0.625rem; 
    overflow: hidden; 
    position: relative;
    min-height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mclaren { 
    background: linear-gradient(135deg, #FF8700, #c2996b); 
}

.mercedes {
     background: linear-gradient(135deg, #00A19C, #67adaa); 
}

.redbull { 
    background: linear-gradient(135deg, var(--color-redbull), #5a57d1); 
}

.ferrari { 
    background: linear-gradient(135deg, var(--color-ferrari), #e05c78); 
}

.williams { 
    background: linear-gradient(135deg, var(--color-williams), #598eff); 
}

.racingbulls { 
    background: linear-gradient(135deg, var(--color-racingbulls), #9ab6ff); 
}

.astonmartin { 
    background: linear-gradient(135deg, var(--color-astonmartin), #2e8c82); 
}

.haas { 
    background: linear-gradient(135deg, var(--color-haas), #d1d3d6); 
}

.kicksauber { 
    background: linear-gradient(135deg, var(--color-kicksauber), #8df28d); 
}

.alpine { 
    background: linear-gradient(135deg, var(--color-alpine), #59adff); 
}

.team-info {
    position: relative;
    z-index: 10; 
}

.team-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
    transition: transform 0.3s ease;
}

.team-card h2 a {
    font-family: var(--font-family-heading);
    text-decoration: none;
    color: inherit;
}

.drivers {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.drivers p {
    display: flex;
    align-items: center;
}

.drivers p a {
    font-family: var(--font-family-heading);
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.drivers p::before {
    content: '';
    display: inline-block;
    width: 0.75rem; 
    height: 0.75rem; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 0.3125rem; 
}

.car-image {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    width: 80%;
    height: auto;
    z-index: 5;
    transition: transform 0.4s ease-in-out;
}

.car-image img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(10%);
    opacity: 0.9;
}

.team-card:hover {
    transform: translateY(-0.625rem); /* -10px -> -0.625rem */
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.team-card:hover .car-image {
    transform: scale(1.15) translateX(-10%) rotate(-5deg);
}

.team-card:hover h2,
.team-card:hover .drivers p a {
    transform: translateY(-3px);
}

.teams-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1rem;
    margin-bottom: 4rem;
}

.logo-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 6.25rem; 
}

.logo-teams img {
    width: 5.625rem; 
    height: 5.625rem; 
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: 4px solid var(--secondary-color); 
}

.logo-teams:hover img {
    border-color: var(--tertiary-color); 
}

.teams-info .name {
    font-weight: bold;
    font-size: 0.85rem;
    white-space: nowrap; 
}

.teams-info .collection-count {
    font-size: 0.75rem;
    color: var(--text-color-light);
}

footer {
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid var(--color-card-bg);
    padding: 1rem 0;
    margin-top: 4rem;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    list-style: none;
}

 .footer-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    list-style: none;
}

.footer-links a:hover {
    color: var(--secondary-color);
}

footer p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--tertiary-color);
}

/*  Media Querie  */

@media (max-width: 1200px) {
    div input {
        width: 25rem;
    }
}

@media (max-width: 992px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    header img {
        height: 15vh;
        margin-bottom: 1rem;
    }

    div input {
        width: 100%;
        max-width: 30rem;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .teams-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 3rem;
    }
    .hero-content p {
        font-size: 1.2rem;
    }
    .teams-title {
        font-size: 3rem;
    }
    .car-image {
        width: 70%;
    }
}
